section.slice{	padding: 13px 5px;}
section.slice h1{text-align : center;}
.base {opacity :0.8;color: #333;}
section.slice{ padding: 30px 0;}

/*Carousel*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
div#captioned-gallery { 
  width: 100%; overflow: hidden; 
}
div.slider { 
  position: relative; 
  width: 500%;
  font-size: 0; 
  animation: 30s slidy infinite;
  height:auto; 
}

div.slider img { width: 100%; height: 100%;object-fit: cover;}
div.slider figure figcaption { 
  position: absolute; bottom: 10%; right : 20%;
  background: rgba(0,0,0,0.4);
  color: #fff; width: 100%;
  font-size: 24px; padding: .6rem; 
}
div.slider figure { 
  width: 20%; height: 455px;
  display: inline-block;  position: inherit; 
}
.icon-block-body h4 {
    padding-bottom:10px;
    color: $organic-green;
}

 /* upto Small Devices, Tablets (portrait) */

@media only screen and (max-width : 767px) {
   div.slider figure { 
  width: 20%; height: 200px;
  display: inline-block;  position: inherit; 
}

}

/*Carousel */
.owl-carousel .item img{
    display: block;
    width: 100%;
    height: auto;
}

.owl-carousel .textoverlay{
    position:absolute;
    color:#FFF;
   display:block;
   z-index : 2;
    background: rgba(0,0,0,0.4);
        right: 1%;
    top: 5%;
    width: 43%;
    height: 90%;
    text-align: center;
    padding : 20px;
}
.owl-carousel .textoverlay .shop-now-btn{
  margin-top : 30px;
  width : 200px;
  font-size : 16px;
}

.jumbotron {
  position: relative;
  background-size: 100% 123%;
  background-repeat: no-repeat;
  height: 100vh !important;
  img {
    height: 820px;
    width: 100%;
  }
  .reachUs {
    position: absolute;
    top:65%;
    right : 6%;
    text-align: center;
    h2 {
      text-align: center;
      font-size: 32px;
    }
    button {
      font-size: 24px;
      font-weight: 500;
    }
  }
  .quiz-container {
    position: absolute;
    top: 68%;
    left: 7%;
    button {
      margin:0 10px;
      padding: 3px 5px;;
      height: 25px;
      div {
        position: absolute;
        top: -200px;
        left: 0;
        -webkit-transition: all 600ms ease-in;
        -webkit-transform: scale(1); 
        -ms-transition: all 600ms ease-in;
        -ms-transform: scale(1); 
        -moz-transition: all 600ms ease-in;
        -moz-transform: scale(1);
        transition: all 600ms ease-in;
        transform: scale(0); 
        background: rgba(255, 255, 255, 0.7);
        min-height: 200px;
        min-width: 200px;
        color: #333;
        padding: 5%;
      }
      p {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
      }
      img {
        max-width : 400px;
        height: 300px;
        
      }
    }
    
    button.glow:hover div {
      width: 500px;
      top: -360px;
      left: 230px;
      /* z-index: 100000; */
      z-index: 2 !important;
      transform: scale(1); 
      -webkit-transition: all 600ms ease-in;
      -webkit-transform: scale(1); 
      -ms-transition: all 600ms ease-in;
      -ms-transform: scale(1); 
      -moz-transition: all 600ms ease-in;
      -moz-transform: scale(1);
      transition: all 600ms ease-in;
      
      
    }
  }
  .marquee1 {
    position: absolute;
    top: 51vh;
    right:0;
    background: rgba(0, 0, 0, 0.0);
    padding: 10px;
    color: yellow;
    font-size: 16px;
    font-weight: 400;
    width: 30vw;
    margin: 0 1%;
  }
  .marquee-container {
    position: absolute;
    bottom: -1vh;
    background: rgba(0, 0, 0, 0.0);
    padding: 10px;
    color: yellow;
    font-size: 16px;
    font-weight: 400;
    width: 76%;
    margin: 0 1%;

    marquee:last-child{
      margin-top:10%;
    }
}
  
}

img.profile {
  height: 500px;
  margin: 0 auto;
}
.row.section {
  h2, h3 {
    text-align: center;
  }
  h3 {
    font-weight: normal;
    font-weight: 300;
    margin-bottom: 25px;
  }
  h2 {
    span {
      font-size: 16px;
    }
  }
  p{
    font-size: 19px;
  }
}
.row.section{
  width: 100%;
  margin: 25px 0 25px 0;
  
  
}
.row.section.bg {
  background: rgba(0, 0, 0, 0.5);
}
#aboutUs {
  padding: 7% 0 10% 0;
}
#ourClass {
  
  .music-classes {
    margin-top : 45px;
    text-align: center;
    p.title {
      font-weight: bold;
      font-size: 18px;
      color : #fff;
      text-align: center;
      margin-bottom: 15px;
    }
  }
  img {
    cursor: pointer;
  }
  
}
#gallery {
  padding: 10% 0 10% 0;
  h3 {
    margin-bottom: 25px;
  }
}
#instruments {
  padding: 40px 0 0 0;
  h2, h3 {
    text-align: center;
  }
  h3 {
    font-weight: normal;
    font-weight: 300;
  }
  .instruments {
    margin-top : 45px;
    text-align: center;
    p.title {
      font-weight: bold;
      font-size: 18px;
      color : #fff;
      text-align: center;
      line-height: 15px !important;
      margin: 10px 0 0 0;
    }
    p.sub-title {
      text-align: center;
      line-height: 15px !important;
      margin: 10px 0;
      font-size: 14px;
    }
    .img-thumbnail {
      height: 220px;
    }
  }
  
}
#social {
  padding: 10% 0 10% 0;
  #youtube-video-container {
    width : 100% !important;
    height : 400px;
  }
  @media only screen and (max-width : 480px) {
   object:first-of-type {
      width : 100%;
      height : 250px;
    }
  #youtube-video-container { height: 250px !important;}
}
}
#reachUs {
  a {
    color : #fff !important;
  }
  object {
    width : 100%;
    height : 400px;
  }
  address {
    font-size: 18px;
  }
  ul#reachUs-address {
    li p {
      display: block;
      line-height: 35px;
      font-size: 24px;
      padding: 5px 10px;
      background: #287db0 !important;
      margin : 10px 0;
      border-radius: 5px;
    }
  }
  @media only screen and (max-width : 480px) {
    object:first-child {
      width : 100%;
      height : 200px;
    }
}
}

@media only screen and (max-width : 480px) {
  
.owl-carousel .textoverlay{
position : relative;
color:#FFF;
display:block;
z-index : 2;
background: #333;
width: 100%;
height: 90%;
text-align: center;
padding : 20px;
}    
.owl-carousel .item img {
height : 180px;
}

.marquee-container {
  position: fixed;
  top : auto;
  width : 100%;
}
.jumbotron .reachUs {
    bottom: 15%;
    left: 10.5%;
    top: 65vh;
}
}
@media only screen and (max-width:768px) {
  .jumbotron {
    .marquee-container {
      width: 100%;
      margin: 0;
    }
  .reachUs {
    bottom: 25%;
    margin: auto;
    left: 30%;
    right: auto;
    top : 72vh;
  }
    .quiz-container{
      left: 25vh;
      top:85vh;
  }
}
}
@media only screen and (min-width : 1200px) {
  .marquee-container {
    width : 40%;
    margin : 0 30%;
  }
  #aboutUs {
    padding-top:7%;
  }
  #gallery{
    padding-top:3%;
  }
  #social {
    padding-top: 5%;
  }
}
