<div class="body-wrap">
  <div class="jumbotron kuzhal_brand_bg" id="home">
    <div class="quiz-container">
        <button type="button" class="btn btn-lg btn-success text-center " ng-click="vm.showInstructions(vm.landingPageContent.quiz)">Instructions</button>
        <!-- <button  type="button" class="btn btn-lg btn-success text-center glow">Winner</button> -->
     </div>
    <div class="reachUs">
      <h2>Kuzhal Music School</h2>
      <button to="#reachUs"type="button" class="btn btn-lg btn-primary btn-reachUs text-center">Reach Us</button>
    </div>
    <marquee direction="left" speed="normal" behavior="loop">
      <strong>{{vm.landingPageContent.marquee.title}}</strong>&nbsp;{{vm.landingPageContent.marquee.info}}
     </marquee>
  </div>
  <div id="aboutUs" class="row section">
    <div class="col-md-4 col-xs-12">
      <img src="https://firebasestorage.googleapis.com/v0/b/kuzhal-7e16a.appspot.com/o/profile_pic.png?alt=media&token=24d82fd1-fcdd-4266-b4fd-084621c7631c" class="profile img-responsive">
    </div>
    <div class="col-md-8 col-xs-12 ">
        <h2 class="main-head">{{vm.landingPageContent.aboutUs.mainHeading}}</h2>
        <h3 class="tag-head" ng-bind-html="vm.landingPageContent.aboutUs.tagLine"></h3>
        <p ng-bind-html="vm.landingPageContent.aboutUs.descr">{{vm.landingPageContent.aboutUs.descr}}</p>
        <div class="col-xs-12 no-padding-lr" ng-repeat="item in vm.landingPageContent.aboutUs.sub">
          <p class="title text-left">{{item.heading}}</h3>
          <p ng-bind-html="item.desc">{{item.desc}}</p>
        </div>
    </div>
  </div>

  <div id="ourClass" class="row section bg">
      <div class="col-md-12 col-xs-12 ">
          <h2 class="main-head center">{{vm.landingPageContent.ourClasses.mainHeading}}</h2>
          <h3 class="tag-head center" ng-bind-html="vm.landingPageContent.ourClasses.tagLine"></h3>
          <div class="music-classes grid" ng-repeat="item in vm.landingPageContent.ourClasses.classes">
            <div class="col-md-4 col-sm-6">
              <img class="img-thumbnail" ng-src="{{item.imagePath}}" ng-click="vm.onShowOurClassModal(item)">
              <p class="title">{{item.name}}</p>
            </div>
          </div>
      </div>
    </div>
  
  <div id="gallery" class="row section">
      <div class="col-md-12 col-xs-12 ">
          <h2 class="main-head center">{{vm.landingPageContent.gallery.mainHeading}}</h2>
          <h3 class="tag-head center" ng-bind-html="vm.landingPageContent.gallery.tagLine"></h3>
      <owl-carousel-wrapper class="owl-carousel owl-theme">
          <!-- <div class="item"><div class="textoverlay"><h3>The worlds online market place lorem ipsum lorem ipsum lorem ipsum lorem ipsum</h3><a href="/products"><md-button class="shop-now-btn">Shop Now</md-button></a></div><img src="images/slider/slider-1.jpg" alt="Slide background" /> <div class="textoverlay"><h3>The worlds online market place lorem ipsum lorem ipsum lorem ipsum lorem ipsum</h3><a href="/products"><md-button class="shop-now-btn">Shop Now</md-button></a></div></div> -->
          <div class="item" ng-repeat="i in [] | limitTo :10">
            <img ng-src="images/slider/{{ i + 1}}.jpg" alt="Slide background" />
          </div>
          <div class="item">
            <img src="images/slider/2.jpg" alt="Slide background" />
          </div>
          <div class="item">
            <img src="images/slider/3.jpg" alt="Slide background" />
          </div>
          <div class="item">
            <img src="images/slider/4.jpg" alt="Slide background" />
          </div>
          <div class="item">
            <img src="images/slider/5.jpg" alt="Slide background" />
          </div>
          <div class="item">
            <img src="images/slider/6.jpg" alt="Slide background" />
          </div>
          <div class="item">
            <img src="images/slider/7.jpg" alt="Slide background" />
          </div>
          <div class="item">
            <img src="images/slider/8.jpg" alt="Slide background" />
          </div>
          <div class="item">
            <img src="images/slider/9.jpg" alt="Slide background" />
          </div>
          <div class="item">
            <img src="images/slider/10.jpg" alt="Slide background" />
          </div>
        </owl-carousel-wrapper>
 
      </div>
 </div>

 <div id="instruments" class="row section bg">
    <div class="col-md-12 col-xs-12 ">
        <h2 class="main-head center">{{vm.landingPageContent.instruments.mainHeading}}</h2>
        <h3 class="tag-head center" ng-bind-html="vm.landingPageContent.instruments.tagLine"></h3>
        <div class="instruments grid" ng-repeat="item in vm.landingPageContent.instruments.items">
          <div class="col-md-3 col-sm-6">
            <img class="img-thumbnail" ng-src="{{item.imagePath}}" width="160px" ng-click="vm.onInstrumentsModal(item)">
            <p class="title">{{item.label}}</p>
            <p class="sub-title">From: {{item.price | currency : 'Rs.'}}</p>
          </div>
        </div>
    </div>
  </div>

  <div id="social" class="row section">
      <h2 class="main-head center">{{vm.landingPageContent.social.mainHeading}}</h2>
      <h3 class="tag-head center" ng-bind-html="vm.landingPageContent.social.tagLine"></h3>
      <div class="col-md-8 col-xs-12">
        <div id="youtube-video-container"  
          data-src = "{{vm.landingPageContent.social.youtube.videoID}}"></div>
      </div>

      <div class="col-md-4 col-xs-12">
        <h2>Connect with us</h2>
        <div class="g-ytsubscribe" data-channelid="UC4xZLvCLQ1Bas8ZOdxU8iUg" data-layout="full" data-count="default"></div>
        <div class="fb-follow" data-href="https://www.facebook.com/kuzhal.isaipattarai" data-layout="standard" data-size="large" data-show-faces="true"></div>
      </div>
  </div>
  <div id="reachUs" class="row section bg">
    <div class="col-md-8 col-sm-7 col-xs-12">
      <object data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62222.67874777182!2d80.15317013426069!3d12.91302885742931!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525c1dee36e907%3A0x87a1f231610aafd3!2sKuzhal+Isai+Pattarai!5e0!3m2!1sen!2sin!4v1485440393436"></object>
    </div>
    <div class="col-md-4 col-sm-5 col-xs-12">
      <h2 class="text-left">Reach Us </h2>
      <ul id="reachUs-address">
          <li>
              <address>
                      {{ vm.kuzhalConstants.kuzhalData.address.addressLine1 }}<br>
                      {{ vm.kuzhalConstants.kuzhalData.address.addressLine2 }}<br>
                      {{ vm.kuzhalConstants.kuzhalData.address.city +' '+  vm.kuzhalConstants.kuzhalData.address.state +' - ' + vm.kuzhalConstants.kuzhalData.address.pinCode}}
              </address> 
          </li> 
          <li >
            <br>
            <p ng-repeat="phone in vm.kuzhalConstants.kuzhalData.phoneNumbers">
              <a href="tel:{{phone}}" title="{{phone}}"><i class="fa fa-phone-square" aria-hidden="true"></i>
              &nbsp;&nbsp;{{phone}}&nbsp;</a></p>
          </li>
          <li>Email: <a href="mailto:{{vm.kuzhalConstants.kuzhalData.email}}" title="{{vm.kuzhalConstants.kuzhalData.email}}">{{vm.kuzhalConstants.kuzhalData.email}} </a></li>
          <li></li>
      </ul >
    </div>
   </div>
</div>