<div class="overlay"></div>


<header class="header-standard-2" ng-controller="HeaderController as vm">
    <div class="topbar">
        <div class="info1 pull-left">
            <i class="fa fa-fw fa-phone-square" aria-hidden="true"></i>
            <a href="mailto:{{vm.kuzhalConstants.kuzhalData.email}}" title="Email Us">{{vm.kuzhalConstants.kuzhalData.email}} </a><b> | <a href="tel:{{vm.kuzhalConstants.kuzhalData.phoneNumbers[0]}}" title="Call Us">{{vm.kuzhalConstants.kuzhalData.phoneNumbers[0]}}</a> </b>
        </div>
        <div class="social-media pull-right">
          <a ng-href="{{vm.kuzhalConstants.social.facebook}}" target="_blank"><i class="fa fa-facebook facebook"></i></a> 
          <!-- <a href="#"><i class="fa fa-google-plus google"></i></a> 
          <a href="#"><i class="fa fa-twitter twitter"></i></a> -->
           <a ng-href="{{vm.kuzhalConstants.social.youtube}}"  target="_blank"><i class="fa fa-youtube youtube"></i></a>
          </div>
        <div class="user-name pull-right" ng-if="vm.userName">Welcome {{vm.userName.emailId}}</div>
    </div>
    <nav class="navbar navbar-default navbar-static-top">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#">Project name</a> -->
          </div>
          <div id="navbar" class="navbar-collapse collapse">
              <!-- <ul class="nav navbar-nav navbar-left">
                <li class=" no-click-nav" ng-click="vm.enroll()"><a>Login</a></li>
              </ul> -->
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a to="#home">Home</a></li>
                <li><a to="#aboutUs">About</a></li>
                <li><a to="#ourClass">Classes</a></li>
                <li><a to="#gallery">Gallery</a></li>
                <li><a to="#instruments">Instruments</a></li>
                <li><a to="#social">Social</a></li>
                <li><a to="#charity">Charity</a></li>
                <li><a class="no-click-nav" ng-click="vm.onPayment()">Online Payment</a></li>
                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li> -->
            </ul>
          </div><!--/.nav-collapse -->
      </nav>
</header>
<a href="#" class="back-to-top">
 <i class="fa fa-arrow-circle-up"></i>
 </a>