body {
    color: #fff;
    font-size: 16px;
    background-image: url('../images/backgrounds/kuzhal_bg.jpg');
    top : 0 !important;
}
.kuzhal_bg {
    background-image: url('../images/backgrounds/kuzhal_bg.jpg');
}
.kuzhal_brand_bg {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/kuzhal-7e16a.appspot.com/o/kuzhal01-iso.jpg?alt=media&token=5e298e9d-9147-4102-ad3b-61ab0671c258');
}
.jumptron > .kuzhal_bg {
    width : 100%;
    height: 600px;
}
p.title {
    font-weight: bold;
    color : #fff;
    margin-top:15px;
}
.modal-dialog{
    width : 95%;
    margin : auto;
}
.modal-backdrop {
    background: #fff;
}
.enrollment-form {
    .modal-dialog  {
        width : 50%;
        margin: 5% auto;
    }
}

form {
    .errorMessage  {
        margin-left: 35px;
    }
}


@media screen and (max-width : 768px){
    .modal {
        padding : 0;
        top: 0;
        margin : 0;
        overflow-y: auto !important;
    }
    .modal-dialog,
    .enrollment-form .modal-dialog{
        width : 100%;
        min-height: 650px;
        padding: 0;
        margin : 0;
    }
    .enrollment-form {
        .modal-dialog {
        min-height: 400px;
            }
            .modal-content {
                min-height: 615px;
            }
    md-input-container.footer {
        position: fixed;
        width: 95%;
        bottom: 0;
    }
}
       
}

@media screen and (max-width : 1024px) {
    marquee {
        position : absolute;
        bottom: 0;
    }
}

/*Animations*/
.blink_me {
    animation-name: flash;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
  }
  
  @keyframes flash {  
    from {color: yellow;}
    to {color: white;}
  }
  .glow {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
  }
@-webkit-keyframes glowing {
    0% { background-color: #5cb85c; -webkit-box-shadow: 0 0 3px #5cb85c; }
    50% { background-color: #4cae4c; -webkit-box-shadow: 0 0 3px #4cae4c; }
    100% { background-color: #5cb85c; -webkit-box-shadow: 0 0 3px #5cb85c; }
  }
  
  @-moz-keyframes glowing {
    0% { background-color: #5cb85c; -webkit-box-shadow: 0 0 3px #4cae4c; }
    50% { background-color: #235123; -webkit-box-shadow: 0 0 3px #235123; }
    100% { background-color: #5cb85c; -webkit-box-shadow: 0 0 3px #4cae4c; }
  }
  
  @-o-keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  }
  
  @keyframes glowing {
    0% { background-color: #5cb85c; -webkit-box-shadow: 0 0 3px #5cb85c; }
    50% { background-color: #235123; -webkit-box-shadow: 0 0 3px #235123; }
    100% { background-color: #5cb85c; -webkit-box-shadow: 0 0 3px #5cb85c; }
  }