    

    /* upto Small Devices, Tablets (portrait) */ 
    @media only screen and (max-width : 480px) {
        .row.section {
            h3 {
                font-size: 20px;
            }
            p {
                font-size: 16px;
            }
            
        }
        md-dialog{max-width : 100% ;}
        .md-actions{position: absolute;
            bottom: 0;
            width: 95%;
            padding: 5px;
        }
        #aboutUs {
            h2 {
                text-align: center !important;
            }
        }
        img.profile{
                width: 60%;
                margin: 0 auto;
                height: auto;
        }
        .jumbotron {
            background-size: 140% 110%;
            background-repeat: NO-REPEAT;
            background-position: center 0px;
            height : 670px;
            .kuzhal_bg{
                height: 667px;
                background-size: cover;
                width: 100%;
                background-position: -220px 0;
            }
            marquee {
                width : 100% !important;
                margin : 0 !important;
                bottom : 4% !important;
            }
            .reachUs {
                left: 24%;
                width: 200px;
                top: 72%;
                h2 {
                    font-size: 20px;
                }
            }
        }
        footer {
            .accredition {
                ul div span {
                font-size: 14px;
            }
            img {
                width : 57px;
                height: 60px;
            }
        }
    }
        
    }
    @media only screen and (max-width : 320px) {
        .jumbotron {
            height: 570px;
            img {
                height : 100%;
            }
            .kuzhal_bg{
                height: 570px;
                background-size: cover;
                width: 100%;
                background-position: -220px 0;
            }
            marquee {
                width : 100% !important;
                margin : 0 !important;
                bottom : 1% !important;
            }
        }
        
    }
    /* upto Tablets (portrait & landscape) */
    @media only screen and (min-width : 481px) and (max-width : 767px) {
        
    }
    
    /* Upto Large devices */
    @media only screen and (min-width : 768px) {
        .jumbotron{ 
            height: 700px;
        }
    }

    /* Upto Large devices */
    @media only screen and (min-width : 768px) and (max-width : 1200px){
    }

    /*  */
    @media only screen and (min-width : 1200px) {
        .jumbotron{
            height : 665px;
            position: relative;
        }
    }
    
/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-width: 768px) 
and (max-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {
  
}

/* Portrait */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
    #aboutUs img.profile {
        height: 500px;
        margin : auto auto;
        vertical-align: middle;
        margin-top: 0%;
    }
    .jumbotron {
    img {
        height: 720px;
    }
    .reachUs {
        width: 300px;
        left : 31%;
       }
        marquee {
            bottom : 4%;
        }
    }
    
}

/* Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 1) {
    .jumbotron img {
        height: 880px;
    }
    .jumbotron {
        position: relative;
        height: 768px;
        marquee {
            bottom : 15%;
        }
        .reachUs {
            top : 70%;
            width : 200px;
        }
    }
    #aboutUs img.profile {
    height: 400px;
    margin-top: 20%;
    }
    #gallery {
        padding-top : 12%;
    }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
and (min-device-width: 834px) 
and (max-device-width: 834px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
and (min-device-width: 1112px) 
and (max-device-width: 1112px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
and (min-device-width: 1366px) 
and (max-device-width: 1366px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 2) {

}