<md-dialog aria-label="Login" ng-cloak>
    <form name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Password sent</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <p>Password sent to the furnished email ID.Go back and use the password to login again.</p>
            </div>
         <div class="md-actions">
           <center><md-button type="button" class="md-primary md-raised" aria-label="Close" ng-click="close()">
                Close
            </md-button></center>
        </div> 
        </md-dialog-content>
    </form>
</md-dialog>
