.error {
    color: rgba(255, 0, 0, 0.836);
    padding-left: 35px;
}
.modal.music-class-modal{
    padding: 50px;
    .modal-title {
        text-align: center;
    }
    .modal-content {
        background-image: url('../images/backgrounds/kuzhal_bg.jpg');
    }
    .modal-header,.modal-footer {
        background: rgba(0, 0, 0,  0.7);
    }
    .modal-header p {
        margin: 15px 0;
    }
    .syllabus {
        margin: 3%;
        border: 2px solid;
    }
    object.video {
        width : 100%;
        height: 480px;
        margin-top : 30px;
    }
}
.quiz-modal{ 

    .modal-title {
        text-align: center;
    }
    .modal-content {
        background-image: url('../images/backgrounds/kuzhal_bg.jpg');
    }
    .modal-header,.modal-footer {
        background: rgba(0, 0, 0,  0.7);
    }
    .modal-header p {
        margin: 15px 0;
    }
    .modal-body {
        min-height: 400px;
        width : 100%;
        object {
            width : 100%;
            height: 385px;
        }
    }
}
.edit-modal {
    .modal-header{background: rgba(0, 0, 0,  0.7);}
    .modal-body {
        form { background: rgba(0, 0, 0,  0.7);}
    }
}
.instruments-modal {
    .modal-header {
        background: rgba(0, 0, 0,  0.7);
        text-align: center;
        }
        img {
            height : 400px;
            width : 300px;
        }
} 
.quiz-instructions {
    ol {
        list-style-type: decimal;
    }
}

@media screen and (max-width : 768px){
    .modal.music-class-modal {
        padding: 0;
        .modal-dialog{
            width : 100%;
            padding: 0;
        }
        object.video {
            width : 100%;
            height: 250px;
        }
        
    }
    .modal.quiz-modal {
        .modal-body {
            height: 100vh;
        }
    }
}
@media screen and (min-width : 768px) {
    .modal.music-class-modal {
    .modal-body {
        height: 470px;
        overflow: auto;
    }
    .syllabus {
        height : 250px;
        width : 27%;
    } 
}
.instruments-modal {
    .modal-dialog{
        width : 70%;
        top : 10%;
    }
}
}
@media screen and (min-width : 768px) and (orientation: portrait) {
    .modal-dialog{
        width : 70%;
        top : 10%;
        margin : auto !important;
    }
}
