        <div class="modal-header">
          <button type="button" class="close" ng-click="close()">&times;</button>
          <h2 class="modal-title">{{ data.name }}</h2>
          
        </div>
        <div class="modal-body">
            <div class="col-xs-8 col-xs-offset-2">
                <object ng-if="data.guruSpeech.url" class="video" data="{{data.guruSpeech.url}}"></object>
            </div>
            <div class="col-md-3 hidden-xs"></div>
            <!-- <div class="col-md-12 col-sm-12 col-xs-12 quiz-instructions" >
              <h2>Instructions</h2>
                <ol>
                    <li ng-repeat="item in data.instructions"> {{ item }}</li>
                </ol>
            </div> -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-right" ng-click="close()" > Close</button>
        </div>